@use 'variables';

.container,
.footer {
  max-width: variables.$page-max-width;
  margin: 0 auto;
  padding: variables.$spacing variables.$spacing * 2;
}

.container {
  min-height: variables.$page-content-min-height;
}

.footer {
  text-align: center;
  color: variables.$text-color-light;
  font-size: 0.875rem;
  border-top: 1px solid variables.$border-color;
  margin-top: variables.$spacing * 2;
}
