@use "variables";

.loader {
    width: 100%;
    height: variables.$page-content-min-height;
  
    .loader-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .spinner {
            width: variables.$spinner-size;
            height: variables.$spinner-size;
            border: 4px solid rgba(variables.$spinner-color, 0.2);
            border-top-color: variables.$spinner-color;
            border-radius: 50%;
            animation: spin variables.$spinner-speed linear infinite;
        }
    }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}