@use "sass:color";
$text-color: #333;
$text-color-light: #777;
$white-color: #fff;
$blue-color: #3498db;
$green-color: #2ecc71;
$background-color: #fff;
$red-color: #e74c3c;
$orange-color: #e67e22;
$light-gray-color: #ededed;
$link-color: #297AB1;
$link-hover-color: color.adjust($link-color, $lightness: -5%);

$border-color: #ddd;
$card-background: #f9f9f9;
$table-header-bg: #f5f5f5;
$table-row-even-bg: #f9f9f9;
$table-ticket-row-hover-bg: #f0f0f0;


$font-family: "Lato", sans-serif;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$h1-font-size: 2rem;

$page-max-width: 1440px;
$page-content-min-height: 600px;
$spacing: 1rem;

$card-td-padding: 0.5rem;
$card-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
$border-radius: 4px;

$badge-font-size: 0.875rem;
$badge-padding: 0.25em 0.5em;

$button-padding: 0.5rem 1rem;

$locale-switcher-button-active-bg: rgba(255, 255, 255, 0.2);
$select-active-box-shadow: 0 0 0 3px rgba(66, 184, 131, 0.2);

$spinner-size: 40px;
$spinner-color: $blue-color;
$spinner-speed: 0.8s;