.btn {
    width: 10rem;
    padding: $button-padding;
    font-size: 0.875rem;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    background-color: $light-gray-color;
    cursor: pointer;

    &.primary {
        background-color: $blue-color;
        border-color: $blue-color;
        color: $white-color;

        &:hover {
            background-color: darken($blue-color, 5%);
            border-color: darken($blue-color, 5%);
        }
    }
}