.loader {
    width: 100%;
    height: $page-content-min-height;
  
    .loader-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .spinner {
            width: $spinner-size;
            height: $spinner-size;
            border: 4px solid rgba($spinner-color, 0.2);
            border-top-color: $spinner-color;
            border-radius: 50%;
            animation: spin $spinner-speed linear infinite;
        }
    }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}