@import './reset.scss';
@import './variables.scss';
@import './layout.scss';
@import './header.scss';
@import './badge.scss';
@import './select.scss';
@import './button.scss';
@import './tickets-table.scss';
@import './ticket-details.scss';
@import './loader.scss';

body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $background-color;
    color: $text-color;
}

h1 {
    margin-bottom: $spacing;
    font-size: $h1-font-size;
    font-weight: $font-weight-bolder;
}

p {
    margin-bottom: $spacing;
}

strong {
    font-weight: $font-weight-bold;
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
}