@use "variables";

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .select-label {
        margin-right: 0.5rem;
        font-size: 0.875rem;
        color: variables.$text-color;   
    }

    .select {
        width: 10rem;
        padding: variables.$button-padding;
        font-size: 0.875rem;
        border-radius: variables.$border-radius;
        border: 1px solid variables.$border-color;
        background-color: variables.$background-color;
        cursor: pointer;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            outline: none;
            border-color: variables.$green-color;
            box-shadow: variables.$select-active-box-shadow
        }
    }

    &:after {
        content: "▼";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 0.75rem;
        color: #666;
    }

}